/* styles.css */
body {
    background-color: #f2f2f2; /* Color de fondo */
}

.login-button {
    margin-top: 10px; /* Espacio superior para el botón */
}

.login-input {
    width: 100%;
    margin-bottom: 10px;
}