.material-icons {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* default size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.delete-file.material-icons::before {
    content: 'scan_delete';
}

.filter-tune.material-icons::before {
    content: 'tune';
}

.refresh.material-icons::before {
    content: 'refresh';
}

.rule-settings.material-icons::before {
    content: 'rule_settings';
}

.dash-remove.material-icons::before {
    content: 'remove';
}

.ellipsis.material-icons::before {
    content: 'more_vert';
}

.note.material-icons::before {
    content: 'note_stack';
}

.ui-dataview .ui-dataview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-width: 1px;
    border-radius: 4px;
}

.overlay-panel {
    width: 265px;
    height: 288px;
}

.expanded-panel {
    width: 265px;
    height: 365px;
    transition: height 0.5s ease-in-out;
}

.expanded-footer {
    margin-top: 106px;
    transition: margin-top 0.5s ease-in-out;
}

.shrunken-footer {
    margin-top: 0;
    transition: margin-top 0.7s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

#notesForm\:dVnotes\:rangeDate_input {
    width: 180px;
    margin-top: 15px;
}

#notesDialogs\:j_idt94_content .ui-dialog-content {
    max-width: 100%;
    min-width: calc(100% - 3em);
}

.oval-button {
    border-bottom-left-radius: 30px !important;
}

.multselection-container {
    position: absolute;
    top: 0;
    right: 0;
}

.note-grid-item {
    border: 1px solid var(--surface-d);
    background: var(--surface-e);
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.speeddial-consistent-note-size .ui-speeddial-button.ui-button.ui-button-icon-only{
    width: 40px;
    height: 40px;
}

.speeddial-consistent-note-size .ui-speeddial {
    position: relative;
}

.speeddial-list-items-size .ui-speeddial-action {
    width: 35px;
    height: 35px;
    text-decoration: none;
}

.speeddial-list-items-size .ui-speeddial-list {
    bottom: 0;
    position: absolute;
    --item-diff-x: -35.5px !important;
    --item-diff-y: 2.5px !important;
}

.speeddial-icon-size .ui-speeddial .ui-speeddial-action .pi {
    font-size: 12px;
}

.ui-speeddial-quarter-circle.ui-speeddial-direction-down-right {
    left: 0;
    top: 0;
}

.hoverDiv:hover {
    border-color: #2196f3;
    cursor: pointer;
}

:hover:is(.speeddial-consistent-note-size.ui-speeddial-button.ui-button.ui-button-icon-only) {
    background: #007abc;
    border-color: #007abc;
}