.material-icons {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* default size */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.delete-file.material-icons::before{
    content: 'scan_delete';
}

.filter-tune.material-icons::before{
    content: 'tune';
}

.ui-dataview .ui-dataview-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}